<div class="contact-form-container d-flex column align-center justify-center">
    <div class="input-wrapper w-50">
        <app-input label="Name" placeholder="John Doe"></app-input>
    </div>
    <div class="input-wrapper w-50">
        <app-input label="Email" placeholder="name@mail.com"></app-input>
    </div>
    <div class="input-wrapper w-50">
        <app-input label="Phone Number" placeholder="8888888888"></app-input>
    </div>
    <div class="input-wrapper w-50">
        <app-input label="Message" placeholder="" [isTextBox]=true></app-input>
    </div>
    <button class="btn">Submit</button>
</div>