.landing-container {
    width: 100vw;
    user-select: none;
    /* background-image: var(--image); */
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-attachment: fixed;
    background-origin: border-box;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-image {
    width: 100%;
    height: inherit;
    max-height: 100vh;
}

.landing-headings {
    top: 0;
    display: flex;
    /* flex-direction: column; */
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 0 3px #969696;
    text-align: center;
    color: white;
}

.landing-headings-inner>.top-heading {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 5px;
    font-size: 5rem;
    padding: 10px;
    /* border-bottom: 2px solid #4e4e4e; */
    border-bottom: 2px solid #f6f6f6;
    animation: fadeIn 3s ease-out forwards;
}

.landing-headings-inner>.bottom-heading {
    padding: 10px 0;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    font-size: large;
    animation: fadeIn 3s ease-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        width: 150%;
    }

    100% {
        opacity: 1;
        width: 100%;
    }
}



.wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    /* background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); */
    background-image: linear-gradient(to top, var(--accent-primary-dark) 0%, var(--accent-primary-light) 100%);
    overflow: hidden;
    z-index: -1;
}

.wave {
    width: 1000px;
    height: 1325px;
    position: absolute;
    top: -25%;
    left: 50%;
    margin-left: -500px;
    margin-top: -500px;
    border-radius: 35%;
    background: #92e6af;
    animation: wave 15s infinite linear;
}

@keyframes wave {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}


/* .landing-headings::before, .landing-headings::after {
    content: '"';
    font-size: 5rem;
    font-family: 'Secular One', sans-serif;
    position: relative;
}

.landing-headings::before {
    top: -5rem;
    transform: rotate(180deg);
}

.landing-headings::after {
    bottom: -5rem;
} */


@media (min-width: 240px) and (max-width: 767px) {
    .landing-headings {
        padding: 0 10px;
        /* width: calc(100% - 60px); */
    }

    .landing-headings-inner>.top-heading {
        font-size: xx-large;
        text-shadow: 2px 2px 5px rgba(0,0,0,0.8);
    }


    .landing-headings-inner>.bottom-heading {
        font-size: small;
        text-shadow: 2px 2px 5px rgba(0,0,0,0.8);

    }

    .wave {
        width: 150vw;
        height: 50vh;
        position: absolute;
        top: 0%;
        left: 0%;
        margin-left: -25vw;
        margin-top: -25vh;
        border-radius: 35%;
        background: #92e6af;
        animation: wave 15s infinite linear;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
            /* width: 150%; */
        }
    
        100% {
            opacity: 1;
            /* width: 100%; */
        }
    }
}