.info-container {
    width: 100vw;
    max-width: 1024px;
    display: flex;
    overflow-x: hidden;
}

.image {
    width: inherit;
    height: inherit;
}

.img-container {
    position: relative;
}

.img-1 {
    width: 300px;
    height: 300px;
    top: 0;
    left: 0;
}

.img-2 {
    width: 250px;
    height: 250px;
    top: -200px;
    left: 250px;
}

.img-3 {
    width: 300px;
    height: 300px;
    top: -300px;
    left: 50px;
}

.left {
    padding: 0 0 0 10px;
}

.right {
    height: 560px;
    display: flex;
    flex-direction: column;
    width: 1000px;
}

.text {
    padding: 10px 0;
    font-weight: 600;
    font-size: 20px;
}

.current {
    padding: 10px;
}

@media (min-width:0) and (max-width: 1024px) {
    .img-container {
        position: unset;
    }

    .info-container {
        /* width: 100%; */
        max-width: 100%;
        min-width: 100%;
    }

    .current {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .left {
        align-items: center;
    }

    .right {
        flex-direction: row;
        flex-wrap: wrap;
        width: calc(100vw - 20px);
        height: unset;
    }

    .img-1 , .img-2, .img-3 {
        width: 33.33%;
        height: unset;
        aspect-ratio: 1/1;
    } 

    .image {
        width: 100%;
    }

    .text {
        padding: 5px 0;
        font-weight: 600;
        font-size: 15px;
    }
}