.brand {
    font-size: 1.5em;
    font-weight: 700;
    padding-left: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Raleway', sans-serif;
    text-shadow: 0 0 2px #969696;
}

.brand:hover {
    transform: scale(1.2);
    transition-duration: 100ms;
}

.links-container {
    gap: 2em;
    font-size: 1em;
    padding-right: 20px;
}

.link, .link:focus, .link:visited, .link:hover {
    color: black;
    font-weight: 700;
}

.link {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 15px;

}

.navbar-inner {
    padding: 0px 20px;
    position: fixed;
    max-width: 1440px;
    background: #fff;
    z-index: 10;
}

.active {
    background-color: #ACCBEE;
}