<div class="app-container" id="#">
    <div class="w-100 d-flex align-center column" id="navbar">
        <app-navbar [links]=links></app-navbar>
    </div>
    <app-landing [text]="landing"></app-landing>
    <div class="w-100 d-flex align-center column inner-container" id="welcome">
        <app-title title="Welcome"></app-title>
        <app-info></app-info>
    </div>
    <div class="w-100 d-flex align-center column inner-container" id="gallery">
        <app-title title="Gallery"></app-title>
        <app-carousel [images]="carousel.images" [autoplay]="carousel.autoplay"
            [shouldStopAtHover]="carousel.shouldStopAtHover" [interval]="carousel.interval">
        </app-carousel>
    </div>
    <div class="inner-container offer-cards" id="offers">
        <app-title title="Offers"></app-title>

        <div class="cards-outer">
            <div class="d-flex w-100 justify-center wrap cards-container">
                <app-offer-card *ngFor="let card of offers" [type]="card.type" [content]="card.content"
                    [price]="card.price">
                </app-offer-card>
            </div>
        </div>

        <div class="inner-container offer-cards" id="feedbacks">
            <app-title title="Feedbacks"></app-title>
            <div class="cards-outer">

                <div class="d-flex w-100 cards-container">
                    <app-user-card *ngFor="let feedback of feedbacks" [name]="feedback.name"
                        [address]="feedback.address" [color]="feedback.color" [image]="feedback.image"
                        [content]="feedback.content" [setDynamicColors]=false>
                    </app-user-card>
                </div>
            </div>
        </div>
    </div>

    <div class="inner-container contact-us" id="contact_us">
        <app-title title="Contact Us"></app-title>
        <div class="d-flex w-100 justify-center">
            <div class="d-flex inner-container w-100 justify-center wrap contact-container">
                <app-user-card class="width-set" [name]="ownerDetails.name" [address]="ownerDetails.address" [color]="ownerDetails.color"
                    [image]="ownerDetails.image" [content]="ownerDetails.content" [setDynamicColors]=true
                    [ownerDetails]="{email : ownerDetails.email, phone : ownerDetails.phone}"></app-user-card>
                <app-contact-form class="width-set"></app-contact-form>
            </div>
        </div>
    </div>


</div>