.active {
    width: auto;
    max-width: inherit;
    height: 80vh;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px #969696;
}

.active-image {
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    max-width: 1024px;
    width: calc(100vw - 20px);
    min-width: 320px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    /* height: 80vh; */
}

.other-images {
    margin-top: 10px;
    gap: 15px;
    overflow-x: scroll;
    padding: 10px 5px;
    width: 100%;
}

.inner-box {
    width: 145px;
}

.thumbnail {
    width: inherit;
    height: 100px;
    /* box-shadow: 0 0 5px 2px #969696; */
}

.active-thumbnail {
    box-shadow: 0 0 10px 2px grey;
    /* outline: 5px solid grey; */
}

.fadeIn {
    animation: fade var(--fade-duration) ease-in forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* width */
.other-images::-webkit-scrollbar {
    height: 10px;
}

/* Track */
.other-images::-webkit-scrollbar-track {
    background: #dfdfdf;
    background: transparent;
    border-radius: 10px;
}

/* Handle */
.other-images::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.other-images::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.image {
    width: auto;
    height: 500px;
    /* max-width: 248px; */
}

.check {
    padding: 10px; 
    gap: 5px;
    width: 100vw;
    overflow-x: auto;
}

.fs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000000;
    justify-content: center;
    align-items: center;
    background-color: #000000db;
    flex-direction: column;
    color: white;
}

.inner-box-fs {
    display: flex;
    align-items: center;
    width: 100vw;
    overflow-x: auto;
    background-color: #f1f1f1;
}

.img-fs {
    height: 80%;
    width: auto;
    padding: 10px;
}

.thumb-container {
    padding: 15px;
}

@media (min-width: 320px) and (max-width: 767px) {
    .inner-box {
        width: 80px;
    }
}

/* width */
::-webkit-scrollbar {
    width: 2px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}