<div class="main-container w-100 d-flex  column">
    <div class="active-image w-100">
        <button (click)="previous()"><</button>
        <img class="active" [ngClass]="changeOfImage ? 'fadeIn': ''" [src]="images[currentIndex]" (mouseenter)="stopNext()" (mouseleave)="startNext()">
        <button (click)="next()">></button>
    </div>
    <div class="other-images d-flex">
        <div class="inner-box" *ngFor="let img of images; let i = index" (click)="setCurrentImage(i)">
            <img class="thumbnail" [src]="img" [ngClass]="i == currentIndex ? 'active-thumbnail' : ''">
        </div>
    </div>
</div>
<!-- <div class="check d-flex">
    <div class="check-inner d-flex" *ngFor="let img of images; let i = index;">
        <img class="image" [src]="img" (click)="openImage(img, i)" />
    </div>
</div>

<div class="fs" [ngStyle]="{'display' : currentImg != '' ? 'flex': 'none'}">
    <div>Click on the Image to close the full screen mode</div>
    <img [src]="currentImg" id="img-fs" class="img-fs" [ngStyle]="{'z-index' : currentImg != '' ? 10000000: -1}" (click)="closeImage()">
    <div class="inner-box-fs">
        <div class="thumb-container d-flex justify-content-center align-items-center" *ngFor="let img of images; let i = index" (click)="openImage(img, i)">
            <img class="thumbnail" [src]="img" [ngClass]="i == currentIndex ? 'active-thumbnail' : ''">
        </div>
    </div>
</div> -->