@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

@font-face {
    font-family: "Berseker";
    src: local("Berserker-Regular"), url(./assets/fonts/Berserker-Regular.ttf) format("truetype");
}

* {
    padding: 0;
    margin: 0;
    /* font-family: 'Cabin', sans-serif; */
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --text-color: #474747;
    --text-color-light: #636363;
    --accent-primary: #ADF5FF;
    /* --accent-primary-dark: #0075A2; */
    /* --accent-primary-dark: #2b5039; */
    /* --accent-primary-light: #d2fde1; */
    --accent-primary-dark: #3e8f5d;
    --accent-primary-light: #62b07e;
    --accent-primary-lighter: #afddc0;
}

a {
    font-family: 'Cabin', sans-serif;
    text-decoration: none;
    color: unset;
    
}

a:focus, a:hover, a:visited , a:active{
    color: unset;
}

a:hover {
    font-size: 140%;
    transform: scale(1.2);
    transition-duration: 100ms;
}

.container {
    width: 100vw;
    max-width: 1440px;
    min-width: 320px;
    display: flex;
    justify-content: center;
}

.d-flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.no-wrap {
    flex-wrap: nowrap;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-around {
    align-items: space-around;
}

.align-between {
    align-items: space-between;
}

.align-evenly {
    align-items: space-evenly;
}

.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

.h-100 {
    height: 100%;
}

.h-75 {
    height: 75%;
}

.h-50 {
    height: 50%;
}

.h-25 {
    height: 25%;
}

.text-center {
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.p-absolute {
    position: absolute;
}

.p-relative {
    position: relative;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

@media (min-width: 240px) and (max-width: 767px) {
    a:hover {
        font-size: 100%;
        transform: scale(1);
        transition-duration: 100ms;
    }
}