.card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 0 10px 1px gray;
}

.type {
    /* background-color: gold; */
    display: flex;
    justify-content: center;
    padding: 10px 0;
    position: relative;
    /* transform: rotate(-30deg) translate(-100px); */
}

.triangle {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 150px 200px 0 0;
    border-color: lightgrey transparent transparent transparent;
}

.triangle-over {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 90px 120px 0 0;
    border-color: #ffffff transparent transparent transparent;
}

.text {
    position: absolute;
    left: 35px;
    top: -100px;
    transform: rotate(-39deg);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.content {
    margin-top: 100px;
    padding: 0 35px;
    font-size: 12px;
    text-align: center;
}

.price {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.price-inner {
    padding: 10px 50px;
    background-color: lightgrey;
    border-radius: 10px;
    box-shadow: 0 0 7px 1px gray;
    font-weight: 700;
}