<div class="card">
    <div class="type">
        <div class="triangle">
            <div class="text">Platinum</div>
        </div>
        <div class="triangle-over"></div>
        < </div>
            <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, quis commodi ipsum
                dolorum ipsa
                eligendi eos earum quas quam, ullam, id laboriosam modi ex hic aliquam enim possimus distinctio culpa.
            </div>
            <div class="price">
                <div class="price-inner">
                    $1500
                </div>
            </div>
    </div>